[user]
	name = Pedro Pessoa
	email = 14947502+pedpess@users.noreply.github.com
[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto
[core]
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore
	editor = vim
[diff]
	renames = copies
	mnemonicprefix = true
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[apply]
	whitespace = fix
[merge]
	stat = true
	tool = opendiff
[credential]
	helper = osxkeychain
[help]
	autocorrect = 1
[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true
[push]
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true
